SUPABASE_DB_PWD="[db-password]"
SUPABASE_DB_DIRECT_CNX="postgresql://postgres:[db-password]@db.[xyz].supabase.co:[port]/[db-name]"
SUPABASE_DB_TRX_POOLER="postgresql://postgres.[xyz]:[db-password]@aws-1-eu-west-1.pooler.supabase.com:[port]/[db-name]"
SUPABASE_DB_SSN_POOLER="postgresql://postgres.[xyz]:[db-password]@aws-1-eu-west-1.pooler.supabase.com:[port]/[db-name]"